<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.vendoo.vendooepicodus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKxwTmu5D4CfDf_zm8j-YIcGMitSqJuZk" />

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity android:name=".ui.CreateAccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.vendoo.vendooepicodus.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.StoreListActivity" />
        <activity android:name=".ui.LocationActivity" />
        <activity android:name=".ui.StoreDetailActivity" />
        <activity android:name=".ui.SavedStoreListActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>